<form method="post" action="/tasks/<%=@task.id%>">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Change your name: <input type="text" value="<%=@task.taskname%>" name="taskname"> </label>
  <input type="submit" value="submit">
</form>

<form method="post" action="/tasks/<%=@task.id%>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <h4> Click this button to delete this task! </h4>
  <input type="submit" value="delete">
</form>
