<h1>Create a new task!</h1>
<form method="post" action="/tasks">

  <label>Task: <input type="text" name="task[taskname]"></label>

  <label>Subtask: <input type="text" name="subtask[][details]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>

  <input type="submit" type="submit">

</form>
