<form method="post" action="/tasks" class="form-inline">

  <label>Task: <input type="text" name="task[taskname]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>
  <label>Subtask: <input type="text" name="subtask[][details]"></label>

  <input type="submit" type="submit" class="btn btn-success">

</form>
