<h1>Create a new task?</h1>
<%= erb :'partials/_new' %>

<% @tasks.each do |task| %>
  <%= erb :'partials/_task', :locals => { task: task } %>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Subtask</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% task.subtasks.each_with_index do |subtask, index| %>
        <%= erb :'/partials/_subtask', :locals => { subtask: subtask, index: index } %>
      <% end %>
    </tbody>
  </table>
<% end %>

<script src="/js/home.js"></script>
