<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>To-Do List</title>
  <!-- Styles -->
  <link href="/css/bootstrap.css" rel="stylesheet">

</head>

<body>

  <!-- Error/Success Messages -->
  <%= flash[:error] if flash[:error] %>
  <%= flash[:success] if flash[:success] %>
  <div class="container">
      <%= yield %>
  </div>
  <!-- JS -->
  <script src="/js/bootstrap.min.js"></script>


</body>
</html>
